<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tabla.css">
    <title>Document</title>
</head>
<body>
    <!--Barra de Tareas -->
    <body class="fondo1">
        <header class="titulo">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                  <img src="img/Púrpura Rectángulos Despacho Jurídico Logo.png" height="100px" width="150px">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" aria-expanded="false">
                          Inicio
                        </a>
                      </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="UCI" id="navbarDarkDropdownMenuLink" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                      Camas U.C.I
                    </a>
                    
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="PO" id="navbarDarkDropdownMenuLink" role="button" aria-expanded="false">
                      Puntos de Oxígeno
                    </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="nosotros.html" id="navbarDarkDropdownMenuLink" role="button" aria-expanded="false">
                      Consultas médicas
                    </a>
                  </li>
    
                </ul>
              </div>
            </form>
            </div>
          </nav>
        </header>
       <!-- FINNN Barra de Tareas -->
    
<h1>Centros de Salud Ubicados en Lima Centro</h1>
   <table>
       

       <tr>
           <th>Hospital</th>
           <th>Ubicación</th>
           <th>Contacto</th>
           <th>Disponibilidad</th>
           <th>Tipo de Centro de Salud</th>
           <th>Web</th>
       </tr>
       <tr>
           <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[0].Hospital %> <br>
            <% } %>
        <% } %></td>
           <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[0].Ubicacion %> <br>
            <% } %>
        <% } %></td>
           <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[0].Contacto %> <br>
            <% } %>
        <% } %></td>
           <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[0].DUCI %> <br>
            <% } %>
        <% } %></td>
           <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[0].TCM %> <br>
            <% } %>
        <% } %></td>
        <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[0].PW %> <br>
            <% } %>
        <% } %></td>
       </tr>
       <tr>
        <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[1].Hospital %> <br>
            <% } %>
        <% } %></td>
           <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[1].Ubicacion %> <br>
            <% } %>
        <% } %></td>
           <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[1].Contacto %> <br>
            <% } %>
        <% } %></td>
           <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[1].DUCI %> <br>
            <% } %>
        <% } %></td>
           <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[1].TCM %> <br>
            <% } %>
        <% } %></td>
        <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[1].PW %> <br>
            <% } %>
        <% } %></td>
    </tr>
    <tr>
        <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[2].Hospital %> <br>
            <% } %>
        <% } %></td>
           <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[2].Ubicacion %> <br>
            <% } %>
        <% } %></td>
           <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[2].Contacto %> <br>
            <% } %>
        <% } %></td>
           <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[2].DUCI %> <br>
            <% } %>
        <% } %></td>
           <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[2].TCM %> <br>
            <% } %>
        <% } %></td>
        <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[2].PW %> <br>
            <% } %>
        <% } %></td>
    </tr>
    <tr>
        <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[3].Hospital %> <br>
            <% } %>
        <% } %></td>
           <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[3].Ubicacion %> <br>
            <% } %>
        <% } %></td>
           <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[3].Contacto %> <br>
            <% } %>
        <% } %></td>
           <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[3].DUCI %> <br>
            <% } %>
        <% } %></td>
           <td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[3].TCM %> <br>
            <% } %>
        <% } %></td>
    <A><td><% if(typeof datos !== 'undefined'){ %>
            <% for(index in datos){ %>
                <%= datos[3].PW %> <br>
            <% } %>
        <% } %></td></A>
    </tr>
        <tr>
            <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[4].Hospital %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[4].Ubicacion %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[4].Contacto %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[4].DUCI %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[4].TCM %> <br>
                <% } %>
            <% } %></td>
        <A><td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[4].PW %> <br>
                <% } %>
            <% } %></td></A>
        </tr>
        <tr>
            <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[5].Hospital %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[5].Ubicacion %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[5].Contacto %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[5].DUCI %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[5].TCM %> <br>
                <% } %>
            <% } %></td>
        <A><td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[5].PW %> <br>
                <% } %>
            <% } %></td></A>
        </tr>
        <tr>
            <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[6].Hospital %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[6].Ubicacion %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[6].Contacto %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[6].DUCI %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[6].TCM %> <br>
                <% } %>
            <% } %></td>
            <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[6].PW %> <br>
                <% } %>
            <% } %></td>
        </tr>
        <tr>
            <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[7].Hospital %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[7].Ubicacion %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[7].Contacto %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[7].DUCI %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[7].TCM %> <br>
                <% } %>
            <% } %></td>
            <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[7].PW %> <br>
                <% } %>
            <% } %></td>
        </tr>
        <tr>
            <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[8].Hospital %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[8].Ubicacion %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[8].Contacto %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[8].DUCI %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[8].TCM %> <br>
                <% } %>
            <% } %></td>
            <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[8].PW %> <br>
                <% } %>
            <% } %></td>
        </tr>
        <tr>
            <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[9].Hospital %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[9].Ubicacion %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[9].Contacto %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[9].DUCI %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[9].TCM %> <br>
                <% } %>
            <% } %></td>
            <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[9].PW %> <br>
                <% } %>
            <% } %></td>
        </tr>
        <tr>
            <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[10].Hospital %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[10].Ubicacion %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[10].Contacto %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[10].DUCI %> <br>
                <% } %>
            <% } %></td>
               <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[10].TCM %> <br>
                <% } %>
            <% } %></td>
            <td><% if(typeof datos !== 'undefined'){ %>
                <% for(index in datos){ %>
                    <%= datos[10].PW %> <br>
                <% } %>
            <% } %></td>
        </tr>
   </table>

      <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</body>
</html>